$monospace-font: Monaco, "Courier New", monospace;

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;

  li {
    line-height: 1.75em;
  }

  span {
    color: #aaa;
    font-family: $monospace-font;
    font-size: 80%;
  }

  pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;

    code {
      background-color: #333;
    }
  }
}

