
.post {

  pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  ul, ol {
    margin-left: 1.35em;
  }

  code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
  }

  pre {
    code {
      border: none;
    }
  }

}